<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular languages for Data Science
*   Identify key data science libraries and tools  
*   Perform basic arithmetic operations in Python  
*   Convert units using Python code  
*   Demonstrate markdown and code usage in a Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL
4.   Julia
5.   Scala

Some of the commonly used libraries used by Data Scientists include:

1.  NumPy
2.  Pandas
3.  Matplotlib
4.  Scikit-learn
5.  TensorFlow

Data Science Tools

| Tools               | Category           |
|---------------------|--------------------|
| Jupyter Notebook    | IDE / Notebook     |
| RStudio             | IDE                |
| Apache Spark        | Big Data Tool      |
| Tableau             | Data Visualization |
| TensorFlow          | Machine Learning   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
print("The result is:", result)

The result is: 17

In [ ]:
 # This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335

<h2>Author</h2>

---


Arunima Mohanty